apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{ metallb_namespace }}
  name: {{ metallb_config_name }}
data:
  config: |
    address-pools:
    - name: default
      protocol: layer2
      addresses:
{% for kube_node in groups["kube_nodes"] %}
        - {{ hostvars[kube_node].ansible_host}}/32
{% endfor %}
{% for floating_ip_host in groups["floating_ips"] %}
        - {{ hostvars[floating_ip_host].ansible_host}}/32
{% endfor %}
      {# # - 116.202.190.206/32
      # - 78.46.184.98/32
      # - 94.130.189.184/32
      # - 116.202.181.18/32
      # - 88.198.208.76/32
      # - 116.203.17.202/32 #}