kind: Secret
apiVersion: v1
metadata:
  name: memberlist
  namespace: {{ metallb_namespace }} 
data:
  secretkey: >-
    VFZjN2JHejU3dStoS2ovMXNTai9tUWNQZ3ovR05SWVZnb0k0WFkwelcxNXVpMmdQR0hsa2htMnY4dWtoUERWbgp4MC93aHdjc1RRVHJrak5xcGx5SlNhWXNnNzN1VWdNeGJMRlFua0dnVmUzSTU3UEVid0FzbXdGVXBZdWYvYmVHCm5hTkFwK1lRaFBHVGNHZlZVOVFTbGU5WXFuYm05alo4REpITTV0bWx1V3M9
type: Opaque